@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProjectListData.Models.ProjectsAndMembersDropdown

<body class="dusk">
    <section class="white-box">
        <h1 style="text-align:center">Manage Project Members</h1>

        <hr />
        @if (Model.Members.Count() == 0 || Model.Projects.Count() == 0)
        {
            <div style="text-align:center">Please ensure that at least one Project and Member exist to use this function...</div>
        }
        else
        {
            <form method="post" asp-controller="ProjectMembers" asp-action="Added">
                <section style="text-align:center">
                    <div class="form-group">
                        <label asp-for="MemberId" class="control-label">Add </label>
                        @Html.DropDownListFor(model => model.MemberId, new SelectList(Model.Members, "Id", "Email"))
                        <label asp-for="ProjectId" class="control-label"> to Project </label>
                        @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.Projects, "Id", "Name"))
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </div>
                </section>
            </form>
        }
    </section>
</body>


