@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="alert alert-danger" role="alert">
    <p>Member already exists in the project...</p>
    <div class="row">
        <a class="btn btn-light" asp-controller="ProjectMembers" asp-action="Create">Back</a>
    </div>
</div>